<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yulu.audiodaemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>__SCRIPT_DIR__/Yulu.app/Contents/MacOS/audio_daemon</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__HOME__/.config/yulu/audio_daemon.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/.config/yulu/audio_daemon.log</string>
</dict>
</plist>
